html {
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(203 129 94 / 75%);
}

#field {
    margin: auto;
    border: 1px solid #dcdcdc;
    display: none;
    touch-action: none;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/background/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.play__container {
    display: flex;
    flex-direction: column;
}

.play__game-title {
    background: #b88463;
    width: 300px;
    height: 100px;
    border: 2px solid #633f44;
    color: #fff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-shadow: 2px 2px 0px black;
    margin-bottom: 20px;
    flex-direction: column;
    box-sizing: border-box;
}

.play__game-title-parts {
    width: 100%;
    padding-left: 20px;
}

.play__game-time-stat {
    font-size: 24px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.play__game-titles {
    display: flex;
    gap: 20px;
}

.play__button {
    width: 100%;
    height: 100px;
    color: #fff;
    font-family: Arial;
    text-align: center;
    line-height: 100px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.4), 0px 4px #fff;
    transition: all, .075s;
    transform: translate3d(0,0,0);
    background: #ffd948;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.4), 0px 4px #ffd948;
    cursor: pointer;
    text-shadow: 2px 2px 0px black;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.play__button:active {
    filter: brightness(105%);
    transform: translateY(4px);
    box-shadow: 0px 0px;
}

.play__button:before {
    content: "";
    display: block;
    width: calc(100% - 6px);
    height: 42%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.controls {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    touch-action: none;
}

.controls__arrows {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-left: 30px;
    margin-bottom: 15px;
    align-items: center;
}

.controls__arrow  {
    width: 80px;
    height: 80px;
    opacity: 0.3;
    border-radius: 50%;
    background-size: cover;
}

.controls__arrow-center {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controls-arrow--left {
    background-image: url('./../images/controls/arrow-left.png');
}

.controls-arrow--right {
    background-image: url('./../images/controls/arrow-right.png');
}

.controls-arrow--up {
    background-image: url('./../images/controls/arrow-up.png');
}

.controls-arrow--down {
    background-image: url('./../images/controls/arrow-down.png');
}

.controls__buttons {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-right: 30px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: end;
    height: 180px;
}

.controls__button {
    width: 80px;
    height: 80px;
    opacity: 0.3;
    border-radius: 50%;
    background-size: cover;
}

.controls__button--fire {
    background-image: url('./../images/controls/a.png');
}

.controls__button--jump {
    background-image: url('./../images/controls/b.png');
}

.timer {
    width: 144px;
    height: 48px;
    line-height: 48px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 0px black;
    position: absolute;
    top: 10px;
    display: none;
    touch-action: none;
}

.timer__current {
    background: #dadce7;
    left: 30px;
}

.timer__best {
    background: #ffd948;
    left: 198px;
}

.settings__tile-button {
    background-image: url('./../images/controls/settings.png');
    width: 48px;
    height: 48px;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
    touch-action: none;
}

.settings__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    touch-action: none;
}

.settings__container:after {
    display: block;
    content: "";
    background: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.settings__window {
    background: #b88463;
    width: 620px;
    height: 100px;
    border: 2px solid #633f44;
    color: #fff;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-shadow: 2px 2px 0px black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.settings__window-close-button {
    width: 32px;
    height: 32px;
    background-image: url('../images/controls/check_square_grey_cross.png');
    position: absolute;
    right: -16px;
    top: -16px;
}

.settings__button {
    width: 90%;
    height: 50px;
    color: #fff;
    font-family: Arial;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px rgba(0, 0, 0, 0.4), 0px 4px #fff;
    transition: all, .075s;
    transform: translate3d(0,0,0);
    background: #ffd948;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.4), 0px 4px #ffd948;
    cursor: pointer;
    text-shadow: 2px 2px 0px black;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.settings__button:active {
    filter: brightness(105%);
    transform: translateY(4px);
    box-shadow: 0px 0px;
}

.settings__button:before {
    content: "";
    display: block;
    width: calc(100% - 6px);
    height: 42%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 3px;
    left: 3px;
}

@media (max-width: 360px) {
    .controls__arrow-center {
        height: 230px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .controls__buttons {
        height: 230px;
    }

    .play__game-title {
        width: 100%;
        font-size: 24px;
    }

    .play__button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        overflow: hidden;
    }

    #field {
        border: none;
        display: none;
    }

    .play {
        display: flex;
    }

    .play__game-title {
        width: 220px;
        font-size: 24px;
    }

    .play__game-time-stat {
        font-size: 18px;
    }

    .controls__arrows {
        margin-left: 10px;
    }

    .controls__buttons {
        margin-right: 10px;
    }

    .play__container {
        align-items: center;
    }

    #field {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
    }

    .timer__current {
        background: #dadce7;
        left: 10px;
    }
    
    .timer__best {
        background: #ffd948;
        left: 168px;
    }

    .settings__tile-button {
        right: 10px;
    }

    .settings__window {
        width: 460px;
    }
}